[server]

[mysqld]

# Set the user that server will run as. 
user                    = mysql

# Set the port to listen for incoming connections.
port                    = 3306

# Listen all available networks instead of local.
bind-address            = 0.0.0.0

# Set the base directory to install the core files.
basedir                 = /usr

# Set the directory where database files are stored.
datadir                 = /var/lib/mysql

# Set the directory for temporary files like tables.
tmpdir                  = /tmp

# Set the directory for language and error messages.
lc-messages-dir         = /usr/share/mysql

# Set the language for messages. 
lc-messages             = en_US

# Days to keep logs before automatic delete.
expire_logs_days        = 10

# Define the default character set for server database.
character-set-server    = utf8mb4

# Default collation (string comparison) for the database.
collation-server        = utf8mb4_general_ci

# Allow remote network connections.
skip-networking         = false

[embedded]

[mariadb]

[mariadb-10.5]
